* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: #C5C5C5;
  font: 10pt sans-serif;
  height: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}

.error {
  color: #F00;
}

input[type="button"], input[type="submit"] {
  font-size: 90%;
  color: #000;
  background-image: -webkit-linear-gradient(180deg, #E4E4E4, #C0C0C0);
  background-image: linear-gradient(180deg, #E4E4E4, #C0C0C0);
  background-color: #C9C9C9;
  padding: 1px 4px;
  border: 1px solid #444;
  border-radius: 3px;
}

input[type="button"]:disabled {
  color: #666;
  background-image: none;
  border-color: #666;
}

input[type="button"]:hover:not(:disabled), input[type="submit"]:hover {
  background: -webkit-linear-gradient(180deg, #EDEDED, #C9C9C9);
  background: linear-gradient(180deg, #EDEDED, #C9C9C9);
}

input[type="button"]:active:not(:disabled), input[type="submit"]:active {
  box-shadow: inset #666 0 0 3px;
}

/* Ajax message ---------------------------- */

#ajax-message {
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
}

#ajax-message span {
  position: relative;
  display: table;
  padding: 2px 1em;
  margin: 0 auto;
  background: #FFE6C1;
  border: 1px solid #a0b363;
  border-top: none;
  border-radius: 0 0 3px 3px;
  font-weight: bold;
}

/* Tab navigation -------------------------- */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2.5em;
  border-bottom: 1px solid #666;
  cursor: default;
}

nav ul {
  position: absolute;
  bottom: -1px;
  left: 0.5em;
}

nav li {
  background: #D2D2D2;
  box-shadow: #666 1px 1px 3px;
  list-style: none;
  display: inline-block;
  margin-left: 0.3em;
  border: 1px solid #666;
}

nav li.active {
  background: #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  padding: .3em .5em;
}

nav li:not(.active):hover {
  background: #E5E5E5;
}

nav a {
  display: inline-block;
  padding: .3em .5em;
}

nav a:not(#logout) {
  color: #000;
  text-decoration: none;
}

#logout {
  position: absolute;
  right: .5em;
  bottom: 3px;
  padding: .2em .5em;
  background: #E5E5E5;
  border: 1px solid #666;
  color: #00F;
}

/* Menu bar -------------------------------- */

#top {
  position: fixed;
  left: 0;
  right: 0;
  padding: 10px;
  height: 2.8em;
  border-bottom: 1px solid #666;
}

/* Login and password reset forms ---------- */

#login-valign, #passreset-valign {
  height: 50%;
  margin-bottom: -9em;
}

#login-form, #passreset-form {
  margin: auto;
  padding: 1em;
  border: 1px solid #666;
  width: 26em;
  height: 15.5em;
  background: #E5E5E5;
}

#passreset-form {
  width: 32em;
}

#login-form h1, #passreset-form h1 {
  text-align: center;
}

#passreset-form p {
  text-align: center;
  margin-top: 1em;
}

#login-form table {
  width: 23em;
  margin: 2em auto;
}

#passreset-form table {
  width: 29em;
  margin: 2em auto;
}

#username, #password, #password2, #email {
  width: 100%;
  font: 10pt sans-serif;
}

#login-form th, #passreset-form th {
  width: 6.5em;
  font-weight: normal;
  text-align: left;
}

#passreset-form th {
  width: 9.5em;
}

/* Main window pane ------------------------ */

.pane {
  position: fixed;
  top: 2.5em;
  bottom: 0;
  width: 100%;
  background: #E5E5E5;
}

#nws-items, #nws-form {
  position: fixed;
  top: 5.3em;
  bottom: 0;
  padding: 10px;
  overflow: auto;
}

#nws-items {
  left: 0;
  width: 18em;
  border-right: 1px dashed #666;
}

#nws-form {
  left: 18em;
  right: 0;
  padding-left: 9px;
  display: none;
}

#nws-items ol {
  margin-top: 8px;
  background: #FFF;
  list-style-type: none;
  overflow: hidden;
  cursor: default;
}

#nws-items li {
  padding-left: .8em;
  width: 9999em;
}

#nws-items li:hover:not([class*="hd-selected"]) {
  background: #F0F0F0;
}

#nws-items .hd-selected {
  background: #C0C0C0;
}

#nws-items .hd-lvl-1 {
  padding-left: .5em;
  font-weight: bold;
}

#nws-items .hd-lvl-0, #nws-items .unnamed {
  font-style: italic;
}

#nws-form table {
  width: 100%;
}

#nws-form th, #nws-form td {
  padding: 1px 0 0;
}

#nws-form th {
  width: 8em;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}

label {
  vertical-align: top;
}

#nws-items ol, input:not([type="radio"]):not([type="button"]):not([type="submit"]), textarea, .CodeMirror {
  border: 1px inset #666;
}

#nws-form input:not([type="radio"]):not([type="checkbox"]):not([type="button"]), textarea {
  width: 100%;
  font: 10pt monospace;
}

#body-text-cell .CodeMirror, #description-cell .CodeMirror, #colophon-text-cell .CodeMirror {
  height: 20em;
}

#sidebar-text-cell .CodeMirror, #metadata-text-cell .CodeMirror {
  height: 9em;
}

#html-online-cell .CodeMirror, #header-text-cell .CodeMirror {
  height: 3.5em;
}

#footer-text-cell .CodeMirror, #welcome-text-cell .CodeMirror {
  height: 5em;
}

.CodeMirror-lines, .CodeMirror pre {
  padding: 0
}

.cm-hard-space, .cm-hard-return {
  color: #164;
}

#addresses {
  padding-top: .5em !important;
}

#recipient-list {
  list-style-type: none;
  margin-top: .5em;
}

#recipient-list li {
  display: inline-block;
  margin: 0 1px 2px 0;
  padding: 2px 1px 2px 8px;
  background: #CCC;
  border-radius: 2px;
  white-space: nowrap;
}

#recipient-list li span {
  margin-left: 8px;
  color: #000;
  padding: 1px 4px;
  background: #AAA;
  border-radius: 3px;
}

#recipient-list li span:hover {
  cursor: pointer;
  background: #F00;
  color: #FFF;
}

/* Accounts window pane -------------------- */

#sessions {
  padding: 1em 0 0 !important;
}

#sessions table {
  margin: .7em 0 0;
  width: auto;
  border-spacing: 1px;
}

#sessions tr {
  background: #D7D7D7;
}

#sessions tr:nth-child(odd) {
  background: #C7C7C7;
}

#sessions th, #sessions td {
  width: auto;
  padding: .2em .5em .2em .2em;
}

#sessions th {
  font-weight: bold;
}
