<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <meta charset="UTF-8" />
    <title>Forgot password?</title>
    <h:outputStylesheet library="default" name="css/style.css" />
  </h:head>
  <h:body>
    <div id="passreset-valign"></div>
    <div id="passreset-form">
      <h1>Thank you!</h1>
      <p>If the email address you entered exists in the system,<br />
      a message is sent with a link to reset your password.</p>
    </div>
  </h:body>
</html>
