<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <meta charset="UTF-8" />
    <title>Accounts</title>
    <h:outputStylesheet library="default" name="css/style.css" />
  </h:head>
  <h:body>
    <div id="ajax-message"><span></span></div>
    <nav>
      <ul>
        <li><a id="nav-newsletters" href="#{request.contextPath}/app/newsletter">Newsletters</a></li>
        <li class="active">Accounts</li>
        <li><a id="nav-application" href="#{request.contextPath}/app/application">Application</a></li>
      </ul>
      <a id="logout" href="#{request.contextPath}/logout">Logout</a>
    </nav>
    <div class="pane" id="accounts">
      <div id="top">
        <input id="btn-save" type="button" value="Save" />
      </div>
      <div id="nws-items">
        <input id="btn-new-user" type="button" value="New" />
        <input id="btn-del-user" type="button" value="Delete" disabled="disabled" />
        <ol id="item-list"></ol>
      </div>
      <div id="nws-form">
        <table>
          <tr>
            <th><label for="username">Username:</label></th>
            <td><input id="username" /></td>
          </tr>
          <tr>
            <th><label for="full-name">Full name:</label></th>
            <td><input id="full-name" /></td>
          </tr>
          <tr>
            <th><label for="email">Email:</label></th>
            <td><input id="email" /></td>
          </tr>
          <tr>
            <th>Last updated:</th>
            <td><span id="last-update"></span></td>
          </tr>
          <tr>
            <th></th>
            <td id="sessions"></td>
          </tr>
        </table>
      </div>
    </div>
    <script>
      DATA = #{data};
    </script>
    <h:outputScript library="default" name="js/lib.js" />
    <h:outputScript library="default" name="js/accounts.js" />
    <h:outputScript library="default" name="js/nav.js" />
  </h:body>
</html>
