<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <meta charset="UTF-8" />
    <title>Application settings</title>
    <h:outputStylesheet library="default" name="css/style.css" />
  </h:head>
  <h:body>
    <div id="ajax-message"><span></span></div>
    <nav>
      <ul>
        <li><a id="nav-newsletters" href="#{request.contextPath}/app/newsletter">Newsletters</a></li>
        <li><a id="nav-accounts" href="#{request.contextPath}/app/accounts">Accounts</a></li>
        <li class="active">Application</li>
      </ul>
      <a id="logout" href="#{request.contextPath}/logout">Logout</a>
    </nav>
    <div class="pane" id="newsletters">
      <div id="top">
        <input id="btn-save" type="button" value="Save" />
      </div>
      <div id="nws-items">
      </div>
      <div id="nws-form">
        <table>
          <tr>
            <th><label for="application-name">Application Name:</label></th>
            <td><input id="application-name" value="#{application_name}" /></td>
          </tr>
        </table>
      </div>
    </div>
    <h:outputScript library="default" name="js/lib.js" />
    <h:outputScript library="default" name="js/application-defaults.js" />
    <h:outputScript library="default" name="js/nav.js" />
  </h:body>
</html>
