<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <meta charset="UTF-8" />
    <title>Forgot password?</title>
    <h:outputStylesheet library="default" name="css/style.css" />
  </h:head>
  <h:body>
    <div id="passreset-valign"></div>
    <div id="passreset-form">
      <h1>Forgot password?</h1>
      <p>Enter the email address with which you are registered</p>
      <form method="post">
        <table>
          <tr>
            <th><label for="email">Email address:</label></th>
            <td><input id="email" name="email" autofocus="autofocus" /></td>
          </tr>
          <tr>
            <th></th>
            <td><input type="submit" value="Submit" /></td>
          </tr>
        </table>
      </form>
    </div>
  </h:body>
</html>
