<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <h:outputStylesheet library="default" name="css/style.css" />
  </h:head>
  <h:body>
    <div id="ajax-message"><span></span></div>
    <div id="login-valign"></div>
    <div id="login-form">
      <h1>#{application_name}</h1>
      <form method="post">
        <table>
          <tr>
            <th><label for="username">Username:</label></th>
            <td><input id="username" name="username" autofocus="autofocus" value="#{username}"/></td>
          </tr>
          <tr>
            <th><label for="password">Password:</label></th>
            <td><input id="password" name="password" type="password" /></td>
          </tr>
          <tr>
            <th></th>
            <td><input id="remember-me" name="remember-me" type="checkbox" />
              <label for="remember-me">Remember me</label></td>
          </tr>
          <tr>
            <th></th>
            <td><input type="submit" value="Login" /></td>
          </tr>
          <tr>
            <td colspan="2" class="error">
              <h:outputText rendered="#{message != null}" value="#{message}" />
              <br />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <a href="#{request.contextPath}/forgotpassword">Forgot password?</a>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </h:body>
</html>
