<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <meta charset="UTF-8" />
    <title>Newsletters - Send mail</title>
    <h:outputStylesheet library="default" name="css/style.css" />
  </h:head>
  <h:body>
    <div id="ajax-message"><span></span></div>
    <nav>
      <ul>
        <li class="active">Newsletters</li>
        <li><a id="nav-accounts" href="#{request.contextPath}/app/accounts">Accounts</a></li>
        <li><a id="nav-application" href="#{request.contextPath}/app/application">Application</a></li>
      </ul>
      <a id="logout" href="#{request.contextPath}/logout">Logout</a>
    </nav>
    <div class="pane" id="newsletters">
      <div id="top">
        <a href="../newsletter">Back</a>
      </div>
      <div id="nws-items">
        <input id="btn-preview-item" type="button" value="Preview" />
        <ol id="item-list"></ol>
      </div>
      <div id="nws-form">
        <table>
          <tr>
            <th><label for="recipients">Recipient(s):</label></th>
            <td><textarea id="recipients" rows="5"></textarea></td>
          </tr>
          <tr>
            <th></th>
            <td>
              <input id="btn-upload" type="button" value="Upload address(es)" />
            </td>
          </tr>
          <tr>
            <th></th>
            <td><input id="message-checkbox" type="checkbox" />
                <label for="message-checkbox">Include welcome message</label></td>
          </tr>
          <tr>
            <th><label for="message">Message:</label></th>
            <td><textarea id="message" rows="7" disabled="disabled"></textarea></td>
          </tr>
          <tr>
            <th></th>
            <td>
              <input id="btn-send" type="button" value="Send" />
            </td>
          </tr>
          <tr>
            <th></th>
            <td id="addresses">
              <span id="no-recipients"></span> recipient(s).
              <ol id="recipient-list"></ol>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <script>
      DATA = #{data};
    </script>
    <h:outputScript library="default" name="js/lib.js" />
    <h:outputScript library="default" name="js/newsletter-sendmail.js" />
    <h:outputScript library="default" name="js/nav.js" />
  </h:body>
</html>
