<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <meta charset="UTF-8" />
    <title>Edit Newsletter</title>
    <h:outputStylesheet library="codemirror" name="css/codemirror.css" />
    <h:outputStylesheet library="default" name="css/style.css" />
  </h:head>
  <h:body>
    <div id="ajax-message"><span></span></div>
    <nav>
      <ul>
        <li class="active">Newsletters</li>
        <li><a id="nav-accounts" href="#{request.contextPath}/app/accounts">Accounts</a></li>
        <li><a id="nav-application" href="#{request.contextPath}/app/application">Application</a></li>
      </ul>
      <a id="logout" href="#{request.contextPath}/logout">Logout</a>
    </nav>
    <div class="pane" id="newsletters">
      <div id="top">
        <input id="nwsl-save" type="button" value="Save" />
        <input id="btn-preview-item" type="button" value="Preview" />
        /
        <a href="../../newsletter">Back</a>
        /
        <a href="../sendmail">Send mail</a>
      </div>
      <div id="nws-items">
        <input id="btn-new-item" type="button" value="New" />
        <input id="btn-item-up" type="button" value="Up" />
        <input id="btn-item-down" type="button" value="Down" />
        <input id="btn-del-item" type="button" value="Delete" />
        <ol id="item-list"></ol>
      </div>
      <div id="nws-form">
        <table>
          <tr>
            <th></th>
            <td>
              <input id="btn-tex-markdown" type="button" value="TeX → Markdown" />
            </td>
          </tr>
          <tr>
            <th>Head level #:</th>
            <td>
              <input name="head-level" id="head-level-0" type="radio" value="0" />
              <label for="head-level-0">0 (none)</label>
              <input name="head-level" id="head-level-1" type="radio" value="1" />
              <label for="head-level-1">1</label>
              <input name="head-level" id="head-level-2" type="radio" value="2" />
              <label for="head-level-2">2</label>
            </td>
          </tr>
          <tr>
            <th><label for="head-text">Head:</label></th>
            <td><input id="head-text" /></td>
          </tr>
          <tr>
            <th><label for="subhead-text">Subhead:</label></th>
            <td><input id="subhead-text" /></td>
          </tr>
          <tr>
            <th><label>Body text:</label></th>
            <td id="body-text-cell"></td>
          </tr>
          <tr>
            <th><label>Sidebar text:</label></th>
            <td id="sidebar-text-cell"></td>
          </tr>
          <tr>
            <th><label>Metadata text:</label></th>
            <td id="metadata-text-cell"></td>
          </tr>
        </table>
      </div>
    </div>
    <script>
      NWSL_DATA = #{nwsl_data};
    </script>
    <h:outputScript library="codemirror" name="js/codemirror.js" />
    <h:outputScript library="codemirror" name="js/markdown.js" />
    <h:outputScript library="codemirror" name="js/xml.js" />
    <h:outputScript library="codemirror" name="js/overlay.js" />
    <h:outputScript library="default" name="js/lib.js" />
    <h:outputScript library="default" name="js/newsletter-edit.js" />
    <h:outputScript library="default" name="js/nav.js" />
  </h:body>
</html>
