<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <meta charset="UTF-8" />
    <title>Newsletters</title>
    <h:outputStylesheet library="default" name="css/style.css" />
  </h:head>
  <h:body>
    <div id="ajax-message"><span></span></div>
    <nav>
      <ul>
        <li class="active">Newsletters</li>
        <li><a id="nav-accounts" href="#{request.contextPath}/app/accounts">Accounts</a></li>
        <li><a id="nav-application" href="#{request.contextPath}/app/application">Application</a></li>
      </ul>
      <a id="logout" href="#{request.contextPath}/logout">Logout</a>
    </nav>
    <div class="pane" id="newsletters">
      <div id="top">
        <input id="btn-save" type="button" value="Save" />
        /
        <a href="newsletter/defaulttexts">Edit default texts</a>
        /
        <a href="newsletter/images">Edit images</a>
        /
        <a href="newsletter/sendmail">Send mail</a>
      </div>
      <div id="nws-items">
        <input id="btn-new-item" type="button" value="New" />
        <input id="btn-edit-item" type="button" value="Edit" />
        <input id="btn-preview-item" type="button" value="Preview" />
        <input id="btn-del-item" type="button" value="Delete" disabled="disabled" />
        <ol id="item-list"></ol>
      </div>
      <div id="nws-form">
        <table>
          <tr>
            <th><label for="year">Year:</label></th>
            <td><input id="year" /></td>
          </tr>
          <tr>
            <th><label for="edition">Edition:</label></th>
            <td><input id="edition" /></td>
          </tr>
          <tr>
            <th><label for="subject">Subject:</label></th>
            <td><input id="subject" /></td>
          </tr>
        </table>
      </div>
    </div>
    <script>
      NWSL_DATA = #{nwsl_data};
    </script>
    <h:outputScript library="default" name="js/lib.js" />
    <h:outputScript library="default" name="js/newsletter-main.js" />
    <h:outputScript library="default" name="js/nav.js" />
  </h:body>
</html>
