<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <meta charset="UTF-8" />
    <title>Newsletters - Edit Default Texts</title>
    <h:outputStylesheet library="codemirror" name="css/codemirror.css" />
    <h:outputStylesheet library="default" name="css/style.css" />
  </h:head>
  <h:body>
    <div id="ajax-message"><span></span></div>
    <nav>
      <ul>
        <li class="active">Newsletters</li>
        <li><a id="nav-accounts" href="#{request.contextPath}/app/accounts">Accounts</a></li>
        <li><a id="nav-application" href="#{request.contextPath}/app/application">Application</a></li>
      </ul>
      <a id="logout" href="#{request.contextPath}/logout">Logout</a>
    </nav>
    <div class="pane" id="newsletters">
      <div id="top">
        <input id="btn-save" type="button" value="Save" />
        /
        <a href="../newsletter">Back</a>
      </div>
      <div id="nws-items">
      </div>
      <div id="nws-form">
        <table>
          <tr>
            <th><label for="from-name">Email From Name:</label></th>
            <td><input id="from-name" value="#{from_name}" /></td>
          </tr>
          <tr>
            <th><label for="reply-to">Reply-To Address:</label></th>
            <td><input id="reply-to" value="#{reply_to}" /></td>
          </tr>
          <tr>
            <th><label for="subject">Subject:</label></th>
            <td><input id="subject" value="#{subject}" /></td>
          </tr>
          <tr>
            <th><label for="plain-text-online">View online (text version):</label></th>
            <td><textarea id="plain-text-online" rows="2">#{plain_text_online}</textarea></td>
          </tr>
          <tr>
            <th><label for="html-online">View online (HTML version):</label></th>
            <td id="html-online-cell"><textarea id="html-online" rows="2">#{html_online}</textarea></td>
          </tr>
          <tr>
            <th><label for="header-text">Header Text:</label></th>
            <td id="header-text-cell"><textarea id="header-text" rows="2">#{header_text}</textarea></td>
          </tr>
          <tr>
            <th><label for="colophon-head">Colophon Head:</label></th>
            <td><input id="colophon-head" value="#{colophon_head}" /></td>
          </tr>
          <tr>
            <th><label for="colophon-text">Colophon Text:</label></th>
            <td id="colophon-text-cell"><textarea id="colophon-text" rows="15">#{colophon_text}</textarea></td>
          </tr>
          <tr>
            <th><label for="footer-text">Footer Text:</label></th>
            <td id="footer-text-cell"><textarea id="footer-text" rows="5">#{footer_text}</textarea></td>
          </tr>
          <tr>
            <th><label for="welcome-text">Welcome Text:</label></th>
            <td id="welcome-text-cell"><textarea id="welcome-text" rows="5">#{welcome_text}</textarea></td>
          </tr>
        </table>
      </div>
    </div>
    <h:outputScript library="codemirror" name="js/codemirror.js" />
    <h:outputScript library="codemirror" name="js/markdown.js" />
    <h:outputScript library="codemirror" name="js/xml.js" />
    <h:outputScript library="codemirror" name="js/overlay.js" />
    <h:outputScript library="default" name="js/lib.js" />
    <h:outputScript library="default" name="js/newsletter-defaulttext.js" />
    <h:outputScript library="default" name="js/nav.js" />
  </h:body>
</html>
