<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <meta charset="UTF-8" />
    <title>Newsletters - Edit Image List</title>
    <h:outputStylesheet library="codemirror" name="css/codemirror.css" />
    <h:outputStylesheet library="default" name="css/style.css" />
  </h:head>
  <h:body>
    <div id="ajax-message"><span></span></div>
    <nav>
      <ul>
        <li class="active">Newsletters</li>
        <li><a id="nav-accounts" href="#{request.contextPath}/app/accounts">Accounts</a></li>
        <li><a id="nav-application" href="#{request.contextPath}/app/application">Application</a></li>
      </ul>
      <a id="logout" href="#{request.contextPath}/logout">Logout</a>
    </nav>
    <div class="pane" id="newsletters">
      <div id="top">
        <input id="btn-save" type="button" value="Save" />
        /
        <a href="../newsletter">Back</a>
      </div>
      <div id="nws-items">
        <input id="btn-new-item" type="button" value="New" />
        <input id="btn-del-item" type="button" value="Delete" disabled="disabled" />
        <ol id="item-list"></ol>
      </div>
      <div id="nws-form">
        <table>
          <tr>
            <th><label for="id">Image #:</label></th>
            <td><input id="id" disabled="disabled" /></td>
          </tr>
          <tr>
            <th><label for="name">Name:</label></th>
            <td><input id="name" /></td>
          </tr>
          <tr>
            <th><label for="alt-text">Alt text:</label></th>
            <td><textarea id="alt-text" rows="2"></textarea></td>
          </tr>
          <tr>
            <th><label for="title-text">Title text:</label></th>
            <td><textarea id="title-text" rows="2"></textarea></td>
          </tr>
          <tr>
            <th></th>
            <td>
              <input id="btn-tex-markdown" type="button" value="TeX → Markdown" />
            </td>
          </tr>
          <tr>
            <th><label>Description:</label></th>
            <td id="description-cell"></td>
          </tr>
          <tr>
            <th><label for="image-file">Upload image:</label></th>
            <td><form method="post" enctype="multipart/form-data" action="image-upload" id="image-upload-form" target="image-iframe">
                <input id="image-id" name="image-id" type="hidden" />
                <input id="image-file-input" name="file" type="file" /></form></td>
          </tr>
          <tr>
            <th></th>
            <td id="img-preview"></td>
          </tr>
        </table>
        <iframe id="image-iframe" name="image-iframe" class="hidden"></iframe>
      </div>
    </div>
    <script>
      DATA = #{data};
    </script>
    <h:outputScript library="codemirror" name="js/codemirror.js" />
    <h:outputScript library="codemirror" name="js/markdown.js" />
    <h:outputScript library="codemirror" name="js/xml.js" />
    <h:outputScript library="codemirror" name="js/overlay.js" />
    <h:outputScript library="default" name="js/lib.js" />
    <h:outputScript library="default" name="js/newsletter-images.js" />
    <h:outputScript library="default" name="js/nav.js" />
  </h:body>
</html>
