<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <meta charset="UTF-8" />
    <title>Reset password</title>
    <h:outputStylesheet library="default" name="css/style.css" />
  </h:head>
  <h:body>
    <div id="ajax-message"><span></span></div>
    <div id="passreset-valign"></div>
    <div id="passreset-form">
      <h1>Choose username and password</h1>
      <form method="post">
        <input name="reset-key" type="hidden" value="#{resetkey}" />
        <table>
          <tr>
            <th><label for="username">Username:</label></th>
            <td><input id="username" name="username" autofocus="autofocus" value="#{username}"/></td>
          </tr>
          <tr>
            <th><label for="password">Password:</label></th>
            <td><input id="password" name="password" type="password" /></td>
          </tr>
          <tr>
            <th><label for="password2">Re-enter password:</label></th>
            <td><input id="password2" name="password2" type="password" /></td>
          </tr>
          <tr>
            <th></th>
            <td><input type="submit" value="Submit" /></td>
          </tr>
          <tr>
            <td colspan="2" class="error"><h:outputText rendered="#{message != null}"
                                                        value="#{message}" /></td>
          </tr>
        </table>
      </form>
    </div>
  </h:body>
</html>
